<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040293372071-9ngjod6088pm2bniq9ne7arsqtd5tplc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040293372071-9ngjod6088pm2bniq9ne7arsqtd5tplc</string>
	<key>API_KEY</key>
	<string>AIzaSyC16TcE25DtfUVg1D22wqLi-p3frrN2SLE</string>
	<key>GCM_SENDER_ID</key>
	<string>1040293372071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>o.GroceryHelper</string>
	<key>PROJECT_ID</key>
	<string>groceryhelper-fcb14</string>
	<key>STORAGE_BUCKET</key>
	<string>groceryhelper-fcb14.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040293372071:ios:42b688aad1518c55</string>
	<key>DATABASE_URL</key>
	<string>https://groceryhelper-fcb14.firebaseio.com</string>
</dict>
</plist>